*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style  */
#header-file{
     width: 1600px;
    height: 92px;
    margin: 0 auto;
  
}
.nav-container{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
  
}
.nav-container .list{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;

}
.nav-container .btn button{
   background-color: green;
    border: none;
    padding: 16px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
/* section style  */
#bannar {
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
}

.bannar-section {
    max-width: 800px;
    padding: 20px;
}


.bannar-btn button {
    background: white;
    color: #6f706f; 
    border:none;
    padding: 8px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 14px;
}

.bannar-head h2 {
    font-size: 50px;
    margin: 5px 0;
    line-height: 1.2;
}

.bannar-head p {
    font-size: 18px;
    margin: 20px 0;
   
}


.main-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-green {
    background-color: #2d7a4d;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-outline {
    background: transparent;
    color: white;
    padding: 12px 25px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}


