*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style  */
#header-file{
     width: 1600px;
    height: 92px;
    margin: 0 auto;
  
}
.nav-container{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
  
}
.nav-container .list{
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;

}
.nav-container .btn button{
   background-color: green;
    border: none;
    padding: 16px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
/* section style  */
#bannar {
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
    padding: 50px 30px;
}

.bannar-section {
    width: 800px;
    padding: 20px;
}


.bannar-btn button {
    background: white;
    color: #6f706f; 
    border:none;
    padding: 8px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 14px;
}

.bannar-head h2 {
    font-size: 50px;
    margin: 5px 0;
    line-height: 1.2;

}

.bannar-head p {
    font-size: 18px;
    margin: 20px 0 40px;
    font-family: Int;
   
}


.main-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-green {
    background-color: #2d7a4d;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-outline {
    background: transparent;
    color: white;
    padding: 12px 25px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}  


#card-section {
    padding: 80px 20px;
    background-color: #ffffff; 
}

.section-container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.setion-notes h2 {
    color: #001a33;
    font-size: 42px;
    font-weight: 800; 
    margin-bottom: 15px;
  
}

.setion-notes p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto; 
  
}

#card-section{
    width: 1300px;
    margin: 0 auto;

}

#card-section .card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
   
  
    
   
}
.card-container .card{
    background-color: whith;
    text-align: center;
    border-radius: 5px;

    padding: 40px 30px;
    box-shadow: 3px 3px 15px rgb(221, 216, 216);
    
}
.card h3{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    
    
}
.card p{
    font-size: 16px;
   line-height: 1.2;
    font-weight: 500;
    margin: 10px 0 20px 0;
    
}

.card img{
    width: 60px;
    height: 60px;
    margin-bottom: 0 auto 20px auto;
    /* border: 1px solid red; */
    background-color: rgb(255, 123, 0);
    border-radius: 50%;
    padding: 5%;
}


